.capitalize {
   text-transform: capitalize;
}

.dataTables_filter{
   margin-bottom: 20px;
}

.dataTables_scrollBody{
   border: 0 !important;
}

#deleteAlertModal .icon-box,#submitFailModal .icon-box  {
   width: 100px;
   height: 100px;
   margin: 0 auto;
   border-radius: 50%;
   z-index: 9;
   text-align: center;
   border: 3px solid #f15e5e;
}

#deleteAlertModal .icon-box i, #submitFailModal .icon-box i {
   color: #f15e5e;
   font-size: 70px;
   display: inline-block;
   margin-top: 13px;
}

#deleteAlertModal .close {
   position: absolute;
   top: -5px;
   right: -2px;
}

#deleteAlertModal .modal-header {
   border-bottom: none;
   position: relative;
}

#submitBtnWrapper {
   position: fixed;
   bottom: 0px;
   background-color: #f8f9fc;
   padding-top: 10px;
   padding-bottom: 10px
}

.select-placeholder{
   color:#999 !important;
}

.select-placeholder option{
   color: #000 !important;
}

.alert{
   padding: .5rem .5rem;
}

:disabled{
   background-color: #999;
}

#successAlertModal .icon-box {
   width: 100px;
   height: 100px;
   margin: 0 auto;
   border-radius: 50%;
   z-index: 9;
   text-align: center;
   border: 3px solid rgb(123, 241, 94);
}

#successAlertModal .icon-box i {
   color: rgb(94, 226, 32);
   font-size: 70px;
   display: inline-block;
   margin-top: 13px;
}

#successAlertModal .close {
   position: absolute;
   top: -5px;
   right: -2px;
}

.none{
   display:none
}

.delegate-to-return {
   color: rgb(243, 24, 24)
}