body, html {
    height: 100%;
    margin: 2px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
.hidden {
    visibility: hidden;
}

.remove {
    display: none;
}
.container {
    
    border: 3px solid green;
    
}

.bg2 {
    /* The image used */
    background-image: url("/image/a.jpg");
  
    /* Full height */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -99;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .center {
    margin : 5px;
    position: relative;  
    border: 1px solid green;   
    text-align: center;
    
    
  }

  .center-button{
    font-size: 0.8em;
    width: 85%;
    margin: 3px 0px 3px 0px;
    border-radius: 5px;
    background-color: rgba(150, 194, 109, 0.7);
  }

  .center-button2{
    width: 95%;
    background-color: black;
    border: 1px solid white;
    color: antiquewhite;
    font-weight: 900;
    padding: 6px 0px 6px 0px;
  }
