body, html {
    height: 100%;
    margin:0;
    font-size: 1em;
  }
  
  .bg {
    /* The image used */
    background-image: url("/image/Loading_screen.png");
  
    /* Full height */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-main {
    /* The image used */
    background-color: rgb(209, 229, 229);
  
    /* Full height */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -99;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .center {
    position: relative;  
    padding: 5px;
    border: 1px solid green;   
    text-align: center;
    
  }
  .center2 {
    margin: 4px;
    position: relative;  
    border: 1px solid green;   
    text-align: center;
    
  }

  .center-2 {
    z-index: 99;
    font-size: 18px;
    height: 18px !important;
    font-weight: 900;
  }

  .center-1 {
    width: 100%;
  }

  .custom-text1{
    font-weight: 900;
    background-color: rgba(222, 55, 222, 0.405);
  }

  .custom-text2{
    font-weight: 900;
    font-size: 25px;
    border-radius: 20%;  
    background-color: rgba(234, 239, 242, 0.855);
    color: rgb(228, 61, 15);
  }

  .custom-text3{
    font-weight: 900;
    background-color: rgba(174, 123, 180, 0.447);
    font-size: 1em;
  
  }

  .custom-text4 {
    font-weight: 900;
    display: block;
    text-align: center;
    width: 100%;
    color: rgb(27, 24, 24);
    font-size: 1.5em;
  }
  #timer {
    font-size: 2.4em !important;
  }

  #myProgress {
    width: 90%;
    left:5%;
    text-align: center;
    background-color: grey;
    position:absolute;
    bottom:5%;
    z-index: 2;
  }
  
  #myBar {
    width: 1%;
    z-index: -6;
    position: absolute;
    height: 16px;
    background-color: rgb(20, 212, 20);
  }

  .remove {
    display: none;
    visibility: hidden;
  }

  .hidden {
    visibility: hidden;
  }

  .button-choose {
    background-color: aqua !important;
  }

  .button {
    background-color: rgb(211, 170, 154);
    padding: 3px;
    margin : 4px;
    font-size: x-large;
  }

  .kecohan{
    width: 100%;
    height: 35px;

  }

  .center-button2{
    width: 100%;
    background-color: black;
    border: 1px solid white;
    color: antiquewhite;
    font-weight: 900;
    padding: 12px 0px 12px 0px;
    margin: 10px 0px 0px 0px;
  }

  #answer-box{
    padding: 30px 2px 30px 2px;
  }

  #score{
    background-color: rgba(180, 99, 182, 0.855);
    color: rgb(32, 24, 14);
  }

  #info {
    background-color: rgba(234, 235, 235, 0.847);
    color: rgb(92, 25, 25);
    font-size: 2rem;
    padding : 10px;
  }

  table, th, td {
    border: 1px solid;
    
  }
  table {
    width :100%
  }
  th {
    width:25%;
    font-size: larger;
  }

  .red {
    
    color: red;
  }

  .green {
    color: greenyellow;
  }

  .big-text {
    font-size: 2em;
    color: rgb(23, 38, 33);
    background-color: rgb(207, 185, 159,0.6) !important;
  }